/* The hashtag bar color doesn't use color variables for whatever reason */
.hashtag-bar a,
.hashtag-bar button {
  color: var(--color-red-400) !important;
}

/* Padding is set to 0 by default and it looks ugly */
.about__section__body {
  padding: 2%;
}

/* This prevents the about section title boxes from shifting around when you expand them */
.about__section.active .about__section__title {
  margin-inline: unset;
  border-radius: var(--radius);
  border: 1px solid var(--color-border-primary);
}

/* Hide number of followers and following on profile */
.account__action-bar__tab strong {
  display: none !important;
}

/* Replace the post button text with "wawa" */
.compose-form__actions .button::before {
  content: "wawa" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  color: rgba(255,255,255,1) !important;
  transform: translate3d(-50%, -50%, 0) !important;
}
.compose-form__actions .button { 
  color: rgba(255,255,255,0) !important; 
}
/* This sets the secondary post button back to normal so it doesn't just say "wawa" too */
.compose-form__actions .secondary-post-button::before {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  color: rgba(255,255,255,1) !important;
  transform: translate3d(-50%, -50%, 0) !important;
}
.compose-form__actions .secondary-post-button { 
  color: rgba(255,255,255,1) !important; 
}
