:root {
	
	/* NOTE: These are all OVERRIDES for values that are set in the base theme */

	--color-grey-950: #090722;
	--color-grey-600: #5b4f4d;
	--color-grey-500: #99746d;
	--color-grey-400: #aa9691;
	--color-grey-100: #f3dcd8;
	--color-red-600: #b7253d;
	--color-red-500: #df405a;
	--color-yellow-700: #ca8f04;
	--color-yellow-400: #ffc90e;
	--color-green-400: #79bd9a;
	--color-indigo-600: #cc6738;
	--color-indigo-500: #ff7361;
	--color-indigo-400: #ff7361;
	--color-indigo-300: #fd8072;
	--color-indigo-200: #fa8c85;
	--color-indigo-100: #e0e3ff;

  /* Custom color tokens - not overrides */
	--color-cafe-600: #171212;
	--color-cafe-500: #211918;
	--color-cafe-300: #c9a19c;
	--color-cafe-200: #e8dfd9;

	--color-bg-primary: var(--color-cafe-500);
	--color-bg-elevated: var(--color-cafe-600);
	
	--color-text-primary: var(--color-indigo-50);
	--color-text-secondary: #c9a19c;
	--color-text-tertiary: #e8dfd9;
	
	--border-color: rgba(200, 130, 121, .2);
	--elevated-color: rgba(200, 157, 151, .1);
	--elevated-tint: rgba(200, 199, 240, .07);
	--hover-color: rgba(189, 111, 111, .07);
	
	--overlay-strength-success: 10%;
	
	--rich-text-container-color: #172e4694;
	--rich-text-text-color: #afd6ff;
	--rich-text-decorations-color: #006cdd66;
	
	--color-bg-media-base: var(--color-grey-950);
	--color-bg-media-strength: 75%;
	
	--color-text-bookmark-highlight: #ff5050;
	
	--shadow-strength-primary: 10%;
	--color-shadow-primary: rgb(from var(--color-grey-950) r g b/var(--shadow-strength-primary));	
}

/* TODO: Is this needed anymore? */
.hashtag-bar a,
.hashtag-bar button {
  color: var(--accent, #D06868) !important;
}
