:root {
  --color-grey-950: #090722;
	--color-grey-600: #5b4f4d;
	--color-grey-500: #99746d;
	--color-grey-400: #aa9691;
	--color-grey-100: #f3dcd8;

  --color-red-600: #b7253d;
	--color-red-500: #df405a;
	--color-red-400: #d06868;

  --color-yellow-700: #ca8f04;
	--color-yellow-400: #ffc90e;

  --color-green-400: #79bd9a;
  
	--color-indigo-600: #cc6738;
	--color-indigo-500: #ff7361;
	--color-indigo-400: #ff7361;
	--color-indigo-300: #fd8072;
	--color-indigo-200: #fa8c85;
	--color-indigo-50: #f0f1ff;

	--color-cafe-600: #171212;
	--color-cafe-500: #211918;
	--color-cafe-300: #c9a19c;
	--color-cafe-200: #e8dfd9;
  
	--color-bg-primary: #211918; // var(--color-cafe-500);
	--color-bg-elevated: #171212; // var(--color-cafe-600);
  --background-color-tint: var(--color-bg-tertiary); // Annoyingly, this token is not fully deprecated yet: it is still used on the about page
	--color-bg-inverted: #e8dfd9; // var(--color-cafe-200);
	--color-bg-media-base: #090722; // var(--color-grey-950);
	--color-bg-media-strength: 75%;
  
	--color-text-primary: #f0f1ff; // var(--color-indigo-50);
	--color-text-secondary: #c9a19c; // var(--color-cafe-300);
	--color-text-tertiary: #e8dfd9; // var(--color-cafe-200);
	--color-text-on-inverted: #090722; // var(--color-grey-950);
  
	--border-color: rgba(200, 130, 121, .2);
	--elevated-color: rgba(200, 157, 151, .1);
	--elevated-tint: rgba(200, 199, 240, .07);
	--hover-color: rgba(189, 111, 111, .07);
	
	--overlay-strength-success: 10%;
	
	--rich-text-container-color: rgba(204, 103, 56, 0.1); // var(--color-bg-brand-softer);
	--rich-text-text-color: #cc6738; // var(--color-bg-brand-base);
	--rich-text-decorations-color: rgb(177, 96, 47); // var(--color-bg-brand-base-hover);
	
	--color-text-bookmark-highlight: #ff5050;
	
	--shadow-strength-primary: 10%;
	--color-shadow-primary: rgb(from var(--color-grey-950) r g b/var(--shadow-strength-primary));
}
